<footer>
    <p>&copy;2022 The Red Team. </p>
    <p><a href="/references">Click here to view the reference list</a></p>
    <p><a href="https://github.com/s3778046/vita-fun">Visit our Project's github repository</a></p>
</footer>
<div id="sparkles"></div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>
<script src="/js/main.js"></script>
<script src="/js/quiz.js"></script>
</body>
</html>