<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>VitaFun</title>
</head>
<body>
    <nav>
        <ul>

            <!-- Image -->
            <a href="/"><img src="img/logo.png" alt="Logo"></a>

            <!-- Link to home -->
            <li class="link home"><a href="/">home</a></li>

            <!-- Link to about -->
            <li class="link about "><a href="/about">about</a></li>

            <!-- Link to quiz -->
            <li class="link quiz"><a href="/quiz">quiz</a></li>

            <!-- Link to superfood circus -->
            <li class="link superfood-circus"><a href="/superfoodcircus">superfood circus</a></li>

            <!-- Link to recipes -->
            <li class="link recipes"><a href="/recipes">recipes</a></li>

            <!-- Link to vitafresh -->
            <li class="link vitafresh"><a href="/vitafresh">vitafresh</a></li>
        </ul>
    </nav>
