<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>VitaFun</title>
  </head>
  <body>
    <nav>
      <!-- Image -->
      <a href="/"><img src="img/vitafun-logo.png" alt="Logo" /></a>
      <ul id="menu">
        <!-- Link to home -->
        <li class="link home">
          <a href="/">home</a>
        </li>

        <!-- Link to about -->
        <li class="link about"><a href="/#about">about</a></li>

        <!-- Link to quiz -->
        <li class="link quiz"><a href="/quiz">quiz</a></li>

        <!-- Link to superfood circus -->
        <li class="link superfood-circus">
          <a href="/superfoodcircus">superfood circus</a>
        </li>

        <!-- Link to recipes -->
        <li class="link recipes"><a href="/recipes">recipes</a></li>

        <!-- Link to vitafresh -->
        <li class="link vitafresh">
          <a
            href="https://www.google.com/"
            target="_blank"
            rel="noopener noreferrer"
            >vitafresh</a
          >
        </li>
      </ul>

      <div>
        <!-- Menu icon -->
        <div id="menu-icon" onclick="toggleHamburgerMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <!-- Menu links -->
        <ul id="dropdown-menu">
          <!-- Link to home -->
          <li class="link home"><a href="/">home</a></li>
          <hr />

          <!-- Link to about -->
          <li class="link about"><a href="/#about">about</a></li>
          <hr />

          <!-- Link to quiz -->
          <li class="link quiz"><a href="/quiz">quiz</a></li>
          <hr />

          <!-- Link to superfood circus -->
          <li class="link superfood-circus">
            <a href="/superfoodcircus">superfood circus</a>
          </li>
          <hr />

          <!-- Link to recipes -->
          <li class="link recipes"><a href="/recipes">recipes</a></li>
          <hr />

          <!-- Link to vitafresh -->
          <li class="link vitafresh">
            <a
              href="https://www.google.com/"
              target="_blank"
              rel="noopener noreferrer"
              >vitafresh</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <img src="../public/img/flag-hangings.png" class="hangings" />
