<div class="loading">
  <div class="loading-anim">
    <!-- Animated SVG generated from: https://www.svgator.com/
    animation idea inspired by: https://codepen.io/Craaftx/pen/ExyYRMK -->
    <object
      data="../public/img/loading-animation-magician.svg"
      type="image/svg+xml"
    >
      <img src="../public/img/loading-animation-magician.svg" alt="" />
    </object>
  </div>
  <div class="loading-txt"><p>LOADING...</p></div>
</div>
