<%- include('components/header') %>
<div class="page-content">
  <section>
    <!-- text with text passed through function -->
    <h1>HOME</h1>
  </section>
  <section id="about">
    <h1>ABOUT</h1>
  </section>
</div>

<%- include('components/footer') %>
