<%- include('components/header') %>
<div class="page-content">
  <section id="home">
    <div class="item1" data-aos="slide-right" data-aos-duration="1000">
      <h1>VitaFun Fresh Fun Hub For VitaFresh Kids</h1>
      <p>
        Are you a ... tightrope walker? A magician? Perhaps you are an acrobat
        or even a strong boy or girl? Take the quiz to find out what circus
        character suits you and what superfoods these amazing superhumans eat!
      </p>
      <%- include('components/primary-btn') %>
    </div>

    <div
      class="item2"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="400"
    >
      <div class="circle-gradient watermelon"></div>
      <div class="character-item">
        <div class="card character">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>

    <div
      class="item3"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="800"
    >
      <div class="circle-gradient yellow"></div>
      <div class="food-item">
        <div class="card food">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <h1>ABOUT</h1>
  </section>
</div>

<%- include('components/footer') %>
