<%- include('components/header') %> 

    <section>
        
        <!-- text with text passed through function -->
        <h1>HOME</h1> 

    </section>
 
 <%- include('components/footer') %> 

