<%- include('components/header') %>

<div class="page-content">
  <section id="home">
    <div class="item1" data-aos="slide-right" data-aos-duration="1000">
      <h1>VitaFun Fresh Fun Hub For VitaFresh Kids</h1>
      <p>
        Are you a ... tightrope walker? A magician? Perhaps you are an acrobat
        or even a strong boy or girl? Take the quiz to find out what circus
        character suits you and what superfoods these amazing superhumans eat!
      </p>
      <div>
        <a class="primary-btn btn" href="/quiz"
          >Take The Quiz Now!
          <div class="arrow-box"><span class="arrow">👉🏼</span></div></a
        >
      </div>
    </div>

    <div
      class="item2"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="400"
    >
      <div class="circle-gradient watermelon">
        <div class="text-bubble">
          <img class="left-bubble" src="../public/img/bubble-left.png" alt="" />
          <img
            class="right-bubble"
            src="../public/img/bubble-right.png"
            alt=""
          />
          <span>Click Me!</span>
        </div>
      </div>
      <div class="character-item">
        <div class="card character">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>

    <div
      class="item3"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="800"
    >
      <div class="circle-gradient yellow">
        <div class="text-bubble">
          <img
            class="right-bubble"
            src="../public/img/bubble-right.png"
            alt=""
          />
          <span>Click Me!</span>
        </div>
      </div>
      <div class="food-item">
        <div class="card food">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <h1>ABOUT</h1>
    <div class="about-text">
      <h2>The Website</h2>
      <p class="about-site">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <h2>The Organisation</h2>
      <p class="about-org">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <a
        class="primary-btn btn"
        href="https://www.google.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Visit the vitafresh site!
        <div class="arrow-box"><span class="arrow">👉🏼</span></div>
      </a>

      <h2>Contact Us</h2>
      <div class="contact-icons">
        <div class="circle">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__1"
          >
            <i class="bx bxl-instagram"></i
          ></a>
          <div class="text"><p>Follow Us On Instagram</p></div>
        </div>

        <div class="circle">
          <a
            href="https://wa.me/00000000000"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__2"
          >
            <i class="bx bxl-whatsapp"></i
          ></a>
          <div class="text"><p>Contact Us On WhatsApp</p></div>
        </div>

        <div class="circle">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__3"
          >
            <i class="bx bxl-facebook"></i
          ></a>
          <div class="text"><p>Follow Us On Facebook</p></div>
        </div>

        <div class="circle">
          <a
            href="mailto: example@email.com"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__4"
          >
            <i class="bx bx-envelope"></i
          ></a>
          <div class="text"><p>Contact Us By Email</p></div>
        </div>

        <div class="circle">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__5"
          >
            <i class="bx bxl-twitter"></i
          ></a>
          <div class="text"><p>Follow Us On Twitter</p></div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('components/footer') %>
