<%- include('components/header') %> <%- include('components/loading') %>
<div class="page-content">
  <section id="home">
    <div class="item1" data-aos="slide-right" data-aos-duration="1000">
      <h1>VitaFun Fresh Fun Hub For VitaFresh Kids</h1>
      <p>
        Are you a ... tightrope walker? A magician? Perhaps you are an acrobat
        or even a strong boy or girl? Take the quiz to find out what circus
        character suits you and what superfoods these amazing superhumans eat!
      </p>
      <div>
        <a class="primary-btn btn" href="/quiz"
          >Take The Quiz Now!
          <div class="arrow-box"><span class="arrow">👉🏼</span></div></a
        >
      </div>
    </div>

    <div
      class="item2"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="400"
    >
      <div class="circle-gradient watermelon">
        <div class="text-bubble">
          <img
            class="left-bubble"
            src="../public/img/bubble-left.png"
            alt="text bubble that reads click me"
          />
          <img
            class="right-bubble"
            src="../public/img/bubble-right.png"
            alt="text bubble that reads click me"
          />
          <span>Click Me!</span>
        </div>
      </div>
      <div class="character-item">
        <div class="card character">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>

    <div
      class="item3"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-delay="800"
    >
      <div class="circle-gradient yellow">
        <div class="text-bubble">
          <img
            class="right-bubble"
            src="../public/img/bubble-right.png"
            alt="text bubble that reads click me"
          />
          <span>Click Me!</span>
        </div>
      </div>
      <div class="food-item">
        <div class="card food">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <h1 data-aos="slide-right" data-aos-duration="1000">ABOUT</h1>
    <div class="about-text" data-aos="slide-right" data-aos-duration="1000">
      <h2>The Website</h2>
      <p class="about-site">
        Get ready for a wild and delicious ride with VitaFun! We're a
        one-stop-site for fun and healthy living, where kids and adults alike
        can join forces to create a brighter, healthier future. Step right up
        and discover the amazing world of superfoods at our Superfood Circus!
        Take our quiz to find out which circus character you are, and learn all
        about the superfoods they munch on. And don't worry, we've got you
        covered with delicious, healthy, and easy recipes that'll make you feel
        like a pro in the kitchen. But most importantly, remember to have fun!
        So come on in, the circus is in town!
      </p>

      <h2>The Organisation</h2>
      <p class="about-org">
        At VitaFresh, we believe in promoting a healthy lifestyle through the
        manufacturing and selling of fresh produce. We've been spreading the
        good word about healthy living since 1982, starting in Ballarat,
        Victoria and now with 25 locations across Australia and Southeast Asia.
        With our strong partnerships with top companies and fresh produce
        growers, we're a powerhouse in the healthy living industry. Recently, we
        made a major investment in encouraging young people to live a healthy
        lifestyle. We believe that educating individuals about the importance of
        starting a healthy lifestyle at a young age is key to building a
        healthier future. And we're taking action with VitaFun, our exciting
        initiative that makes healthy living a blast! So join us today and let's
        make a change together!
      </p>
      <a
        class="primary-btn btn"
        href="https://www.google.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Visit the vitafresh site!
        <div class="arrow-box"><span class="arrow">👉🏼</span></div>
      </a>

      <h2>Contact Us</h2>
      <div class="contact-icons">
        <div class="circle">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__1"
            aria-label="Go to our instagram page"
          >
            <i class="bx bxl-instagram"></i
          ></a>
          <div class="text"><p>Follow Us On Instagram</p></div>
        </div>

        <div class="circle">
          <a
            href="https://wa.me/00000000000"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__2"
            aria-label="Contact us through WhatsApp"
          >
            <i class="bx bxl-whatsapp"></i
          ></a>
          <div class="text"><p>Contact Us On WhatsApp</p></div>
        </div>

        <div class="circle">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__3"
            aria-label="Go to our Facebook page"
          >
            <i class="bx bxl-facebook"></i
          ></a>
          <div class="text"><p>Follow Us On Facebook</p></div>
        </div>

        <div class="circle">
          <a
            href="mailto:example@email.com"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__4"
            aria-label="Contact us by email"
          >
            <i class="bx bx-envelope"></i
          ></a>
          <div class="text"><p>Contact Us By Email</p></div>
        </div>

        <div class="circle">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="neon-icon neon-icon__5"
            aria-label="Go to our twitter page"
          >
            <i class="bx bxl-twitter"></i
          ></a>
          <div class="text"><p>Follow Us On Twitter</p></div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('components/footer') %>
