<%- include('components/header', { header: true }) %> <%-
include('components/loading') %>
<div class="page-content">
  <!-- Questions and answers  -->
  <div class="question-wrapper">
    <div id="questions-flex">
      <div class="answer1">
        <p
          id="answer-left"
          onclick="loadQuestions(), addAnswerToList('answer-left'), calculateQuizScore()"
        ></p>
      </div>
      <div class="question">
        <p id="question"></p>
      </div>
      <div class="answer2">
        <p
          id="answer-right"
          onclick="loadQuestions(), addAnswerToList('answer-right'), calculateQuizScore()"
        ></p>
      </div>
    </div>

    <!-- Restart button -->
    <div class="restart-quiz">
      <a href="/quiz">restart quiz</a>
    </div>
  </div>
</div>

<%- include('components/footer') %>
