<%- include('components/header') %> <%- include('components/loading') %>
<div class="page-content">
  <!-- Questions and answers  -->
  <div class="question-wrapper">
    <div id="questions-flex">
      <div class="answer1">
        <p
          id="answer-left"
          onclick="loadQuestions(), addAnswerToList('answer-left'), calculateQuizScore()"
        ></p>
      </div>
      <div class="question">
        <p id="question"></p>
      </div>
      <div class="answer2">
        <p
          id="answer-right"
          onclick="loadQuestions(), addAnswerToList('answer-right'), calculateQuizScore()"
        ></p>
      </div>
    </div>

    <!-- Restart button -->
    <div class="restart-quiz">
      <a href="/quiz">restart quiz</a>
    </div>
  </div>

  <!-- Display list of answers -->
  <div id="show-circus-character">
    <div class="list-wrapper">
      <!-- Image -->
      <img
        id="circus-img"
        src="../public/img/unknown-character.png"
        alt="Circus Character"
      />
      <ul>
        <li id="score"></li>

        <li id="a1"></li>

        <li id="a2"></li>

        <li id="a3"></li>

        <li id="a4"></li>

        <li id="a5"></li>
      </ul>
    </div>
    <a href="/quiz">Close window</a>
  </div>
</div>

<%- include('components/footer') %>
