<%- include('components/header') %>

  <section id="recipe-1">
    <h1>TIGHTROPE POWER FRITTATA</h1>
    <div class="recipes">

      <img src="../public/img/eggs.png" alt="" class="eggs"/>

      <img src="../public/img/frittata-in-pan.png" alt="" class="frittata"/>

      <img src="../public/img/tightrope-walker.png" alt="" class="green-power"/>

    </div>
  </section>
</div>

<%- include('components/footer') %>
