<%- include('components/header') %>

<div class="recipes">

  <section id="recipe-1">


    <h1>TIGHTROPE POWER FRITTATA</h1>

    <div class="recipes1" style="background-image: url('../public/img/bg-image1.png');">
    
    <div class="grid-container">

      <img src="../public/img/eggs.png" alt="" class="eggs"/>

      <img src="../public/img/frittata-in-pan.png" alt="" class="frittata"/>

      <img src="../public/img/tightrope-walker.png" alt="" class="tightrope-power"/>
    </div>

    </div>
  </section>

  <section id="recipe-2">
    
    <h1>CHOCOLATE CANNONBALL WAFFLES</h1>
    <div class="recipes">

      <div class="grid-container-2">

      <img src="../public/img/cacao.png" alt="" class="chocolate"/>

      <img src="../public/img/chocolate-waffles.png" alt="" class="waffle"/>

      <img src="../public/img/human-cannonball.png" alt="" class="cannonball-power"/>

    </div>
    </div>
  </section>


</div>
</div>


