<%- include('components/header') %>

  <section id="recipe-1">
    <h1>Tightrope Walker</h1>
    <div class="recipes">
      <h2>Tightrope Power Frittata</h2>


    </div>
  </section>
</div>

<%- include('components/footer') %>
