<%- include('components/header', { header: true }) %> <%-
include('components/loading') %>
<div class="page-content reference-list">
  <h1>References</h1>
  <p class="note">
    Note: References for code snippets that have been inspired/reproduced from
    other sources have been included as code comments above them.
  </p>
  <p class="note">
    Note: The following assets have been liscenced and edited/mixed to make a
    distinct set of assets for the VitaFun website.
  </p>
  <div class="character-ref">
    <h2>Assets used for Circus Character Images</h2>
    <p>
      alex_cardo. n.d. ‘Magic Wizard Items Set. Cartoon Vector. Stock Vector’.
      Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/magic-wizard-items-set-potion-auldron-magic-wand-scroll-book-with-spells-broom-flying-chest-cards-multicolored-energy-crystals-witchs-hat-bottles-prepared-liquid-ball-predictions-cartoon-vector/361014647.
    </p>
    <p>
      ann131313.a. n.d. ‘Black Hair Beautiful Hairstyle Black Hair Woman Set.
      Vector Icon Set Isolated Stock Vector’. Adobe Stock. Accessed 29 January
      2023a.
      https://stock.adobe.com/au/images/black-hair-beautiful-hairstyle-black-hair-woman-set-modern-fashion-for-assortment-long-hair-short-hair-fringe-curly-hair-salon-hairstyles-and-trendy-haircut-vector-icon-set-isolated/165244659.
    </p>
    <p>
      ann131313.a. n.d. ‘Boy Hair Rear View Set. Vector Icon Isolated. Stock
      Vector’. Adobe Stock. Accessed 29 January 2023b.
      https://stock.adobe.com/au/images/boy-hair-rear-view-set-head-of-a-little-boy-cute-hairstyle-variety-child-modern-fashion-for-assortment-long-short-curly-hair-salon-hairstyles-trendy-haircut-of-male-vector-icon-isolated/201818002.
    </p>
    <p>
      Apoev, Andrei. n.d. ‘Japanese, Asian Traditional Hair Bands. Floral Rope
      Knots Stock Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/japanese-asian-traditional-hair-bands-floral-rope-knots/522173852.
    </p>
    <p>
      comicsans. n.d. ‘Vector Realistic Isolated Rope for Decoration and
      Covering on the Transparent Background. Stock Vector’. Adobe Stock.
      Accessed 29 January 2023.
      https://stock.adobe.com/au/images/vector-realistic-isolated-rope-for-decoration-and-covering-on-the-transparent-background/189804124.
    </p>
    <p>
      denis_pc. n.d. ‘Retro Circus Cartoon Characters and Animals. Vintage
      Carnival Children. Stock Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/retro-circus-cartoon-characters-and-animals-vintage-carnival-children/122950787.
    </p>
    <p>
      Happypictures. n.d. ‘Man and Woman as Circus Artists and Acrobats Lifting
      Heavy Barbell and Balancing on Wheel Vector Set Stock Vector’. Adobe
      Stock. Accessed 29 January 2023a.
      https://stock.adobe.com/au/images/man-and-woman-as-circus-artists-and-acrobats-lifting-heavy-barbell-and-balancing-on-wheel-vector-set/417297085.
    </p>
    <p>
      Happypictures n.d. ‘Man Wearing Street Magician Costume Performing
      Amusement Show Vector Illustration Stock Vector’. Adobe Stock. Accessed 29
      January 2023b.
      https://stock.adobe.com/au/images/man-wearing-street-magician-costume-performing-amusement-show-vector-illustration/323929884.
    </p>
    <p>
      Pakon. n.d. ‘Set of Clowns in Different Poses. Funny Characters in Cartoon
      Style Isolated on White Background. Stock Vector’. Adobe Stock. Accessed
      29 January 2023.
      https://stock.adobe.com/au/images/set-of-clowns-in-different-poses-funny-characters-in-cartoon-style-isolated-on-white-background/333203288.
    </p>
    <p>
      Tartila. n.d. ‘Superhero Man Characters’. Adobe Stock. Accessed 29 January
      2023.
      https://stock.adobe.com/au/images/superhero-man-characters-cartoon-muscular-hero-character-in-colorful-super-costume-with-waving-cloak-flying-superheroes-vector-set/213494367.
    </p>
    <p>
      topvectors. n.d. ‘Vector Cartoon Girl Character Stock Vector’. Adobe
      Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/pretty-young-woman-constructor-in-flat-style-parts-of-body-legs-and-arms-face-emotions-haircuts-and-hands-gestures-vector-cartoon-girl-character/183484490.
    </p>
    <p>
      Vector Tradition. n.d. ‘Circus Cartoon Characters Vector Performers’.
      Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/circus-cartoon-characters-vector-performers-top-tent-artists-clown-acrobat-and-man-cannon-ball-trained-dogs-juggler-magician-or-trapeze-girl-woman-with-snake-balancer-and-tamer-with-gymnast-set/414010057.
    </p>
    <p>
      VectorBum. n.d. ‘Cartoon Circus Artists. Splendid Vector Set Stock
      Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/cartoon-circus-artists-entertainment-workers-trained-animals-jugglers-and-jesters-amusement-show-people-juggling-or-making-tricks-magician-and-clown-performance-splendid-vector-set/536796774.
    </p>
    <p>
      WinWin. n.d. ‘Hand Draw Fruits and Vegetables Healthy Food Isolated Vector
      Illustration Icons Set Stock Vector’. Adobe Stock. Accessed 29 January
      2023.
      https://stock.adobe.com/au/images/hand-draw-fruits-and-vegetables-doodle-organic-vegan-tomato-eggplant-vegetable-tasty-fruits-and-berries-natural-veggies-and-fruits-healthy-food-isolated-vector-illustration-icons-set/315322357.
    </p>
  </div>

  <div class="recipe-refs">
    <h2>Assets used for Recipe Images</h2>
    <p>
      Aelina. n.d. ‘Ice Cream Constructor. Stock Vector’. Adobe Stock. Accessed
      20 February 2023.
      https://stock.adobe.com/au/images/ice-cream-constructor-different-colorful-scoops-and-waffle-cone-for-create-your-own-set-of-various-flavors-vanilla-strawberry-chocolate-tasty-summer-dessert-vector-illustration/433418574.
    </p>
    <p>
      annetdebar. n.d. ‘Ingredients Burger Designer. Stock Vector’. Adobe Stock.
      Accessed 20 February 2023.
      https://stock.adobe.com/au/images/ingredients-burger-designer-constructor-of-food-and-meat-and-vegetables-and-cheese-and-fish/229433842.
    </p>
    <p>
      Bro Vector. n.d. ‘Summer Popsicle. Watermelon Isolated on White. Vector
      Illustration Stock Vector’. Adobe Stock. Accessed 6 February 2023.
      https://stock.adobe.com/au/images/summer-popsicle-tropical-cocktail-flamingo-hawaiian-flower-fruits-ice-cream-watermelon-isolated-on-white-vector-illustration/534725388.
    </p>
    <p>
      E. n.d. ‘Dinner Ware Stock Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/dinner-ware/81645911.
    </p>
    <p>
      Happypictures. n.d. ‘Tasty Egg Dish with Scrambled, Boiled and Omelette.
      Stock Vector’. Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/tasty-egg-dish-with-scrambled-boiled-and-omelette-served-on-plate-big-vector-set/532890308.
    </p>
    <p>
      Lina_vector. n.d. ‘Set of Chia Pudding. Stock Vector’. Adobe Stock.
      Accessed 20 February 2023.
      https://stock.adobe.com/au/images/set-of-chia-pudding-layered-with-aplles-overnight-oats-cherry-mango-strawberry-blueberry-kiwi-tiramisu-dragon-fruit-matcha-in-glass-jar-isolated-delicious-dessert-healthy-usefull-breakfast/483667981.
    </p>
    <p>
      Maneerat. n.d. ‘Stinky Tofu. Stock Vector’. Adobe Stock. Accessed 20
      February 2023.
      https://stock.adobe.com/au/images/stinky-tofu-the-chinese-form-of-fermented-tofu-that-has-a-strong-odor-in-a-dish-isolated-close-up-asian-food-vector-illustration-on-white-background/425997691.
    </p>
    <p>
      Oleg. n.d. ‘Sandwich with Salmon Stock Vector’. Adobe Stock. Accessed 20
      February 2023.
      https://stock.adobe.com/au/images/sandwich-with-salmon/153804454.
    </p>
    <p>
      oncombuntung. n.d. ‘Frittata Illustration Stock Vector’. Adobe Stock.
      Accessed 29 January 2023.
      https://stock.adobe.com/au/images/frittata-illustration/184237502.
    </p>
    <p>
      orangereebok. n.d. ‘Download Waffle Icons Vector for Free’. Vecteezy.
      Accessed 30 January 2023.
      https://www.vecteezy.com/vector-art/142693-waffle-icons-vector.
    </p>
    <p>
      stockakia. n.d. ‘Bowls of Avocado Guacamole Dip, Tomato Salsa, Cheese
      Sauce and Nachos Chips. Vector Illustration Stock Vector’. Adobe Stock.
      Accessed 6 February 2023a.
      https://stock.adobe.com/au/images/bowls-of-avocado-guacamole-dip-tomato-salsa-cheese-sauce-and-nachos-chips-vector-illustration/344418298.
    </p>
    <p>
      stockakia.n.d. ‘Taco on White Background. Vector Illustration Stock
      Vector’. Adobe Stock. Accessed 6 February 2023b.
      https://stock.adobe.com/au/images/taco-on-white-background-vector-illustration/104945924.
    </p>
    <p>
      Tveitan, Ekaterina. n.d. ‘Guacamole In The Bowl With Avocado And Nachos
      Food Vector Illustration In Flat Style Stock Vector’. Adobe Stock.
      Accessed 6 February 2023.
      https://stock.adobe.com/au/images/guacamole-in-the-bowl-with-avocado-and-nachos-food-vector-illustration-in-flat-style/554090102.
    </p>
    <p>
      Vector Tradition. n.d. ‘Omelette Frittata’. Adobe Stock. Accessed 6
      February 2023.
      https://stock.adobe.com/au/images/italian-cuisine-menu-vector-chicken-salad-with-pasta-and-vegetables-omelette-frittata-pasta-salad-with-cream-sauce-amaretti-cookies-cheese-pie-crosstata-creamy-polenta-and-tuna-salad-italy-meals/560507139.
    </p>
  </div>

  <div class="superfood-ref">
    <h2>Assets used for superfood Images</h2>
    <p>
      anitafiana. n.d. ‘Watermelon Vector Pack Illustration Stock Vector’. Adobe
      Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/watermelon-vector-pack-illustration/356848424.
    </p>
    <p>
      Ansty art. n.d. ‘Cartoon Egg Isolated on White Background. Stock Vector’.
      Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/cartoon-egg-isolated-on-white-background-set-of-fried-boiled-half-sliced-eggs-vector-illustration-eggs-in-various-forms/106864245.
    </p>
    <p>
      FARBAI. n.d. ‘Cocoa Powder in Sack Vector Isolated Illustration Stock
      Vector’. Adobe Stock. Accessed 6 February 2023.
      https://stock.adobe.com/au/images/cocoa-powder-in-sack-vector-isolated-illustration/546150647.
    </p>
    <p>
      FARBAI. n.d. ‘Piece of Tofu Vector Isolated Stock Vector’. Adobe Stock.
      Accessed 29 January 2023.
      https://stock.adobe.com/au/images/piece-of-tofu-vector-isolated/229511308.
    </p>
    <p>
      Jemastock. n.d. ‘Broccoli Vegetable Fresh Farm Healthy Food Stock Vector’.
      Adobe Stock. Accessed 29 January 2023a.
      https://stock.adobe.com/au/images/broccoli-vegetable-fresh-farm-healthy-food/165089086.
    </p>
    <p>
      Jemastock n.d. ‘Cocoa Plant Fruits Stock Vector’. Adobe Stock. Accessed 29
      January 2023b.
      https://stock.adobe.com/au/images/cocoa-plant-fruits/558037901.
    </p>
    <p>
      MoreVector. n.d. ‘Tofu. Vector Color Flat Illustration Isolated on White
      Background. Stock Vector’. Adobe Stock. Accessed 6 February 2023.
      https://stock.adobe.com/au/images/tofu-vector-color-flat-illustration-isolated-on-white-background/335005229.
    </p>
    <p>
      Vectorvstocker. n.d. ‘Avocado Pieces Set Isolated on White Background
      Design Element Organic Food Vector. Stock Vector’. Adobe Stock. Accessed
      29 January 2023.
      https://stock.adobe.com/au/images/avocado-pieces-set-isolated-on-white-background-design-element-organic-food-vector/110383511.
    </p>
    <p>
      Yuliia. n.d. ‘Whole and Piece of Broccoli Isolated on White Background.
      Stock Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/whole-and-piece-of-broccoli-isolated-on-white-background-vegan-food-vector-vegetable-icons-in-a-trendy-cartoon-style-healthy-food-concept/420242181.
    </p>
  </div>
  <div class="other-ref">
    <h2>other Assets used in the website</h2>
    <p>
      adi. n.d. ‘Fresh Fruit Initial Letter f Logo Design Stock Vector’. Adobe
      Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/fresh-fruit-initial-letter-f-logo-design/514108261.
    </p>
    <p>
      Alexander. n.d. ‘Green Check Mark Icon. Stock Vector’. Adobe Stock.
      Accessed 6 February 2023.
      https://stock.adobe.com/au/images/green-check-mark-icon-check-mark-vector-icon-checkmark-illustration-vector-symbols-set-green-checkmark-isolated-on-white-background-correct-vote-choise-isolated-symbol/521883763.
    </p>
    <p>
      ClipartMax. n.d. ‘Pin Png - Notice Board Pins Png - Free Transparent PNG
      Clipart Images Download.’ ClipartMax.Com. Accessed 10 February 2023.
      https://www.clipartmax.com/middle/m2i8G6K9d3Z5G6b1_pin-png-notice-board-pins-png/.
    </p>
    <p>
      deemka studio. n.d. ‘Supermarket Fruit Logo Stock Vector’. Adobe Stock.
      Accessed 20 February 2023.
      https://stock.adobe.com/au/images/supermarket-fruit-logo-template-design-vector/336361761.
    </p>
    <p>
      Dutko, Liudmila. n.d. ‘Confused Person Surrounded by Question Marks Stock
      Vector’. Adobe Stock. Accessed 6 February 2023.
      https://stock.adobe.com/au/images/confused-person-surrounded-by-question-marks/458630388.
    </p>
    <p>
      grgroup. n.d. ‘Party Garland Hanging Isolated Icon Stock Vector’. Adobe
      Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/party-garland-hanging-isolated-icon/285724419.
    </p>
    <p>
      Gstudio. n.d. ‘Fairytale Magic Wand Fantastic Isolated Icon Vector
      Illustration Design Stock Vector’. Adobe Stock. Accessed 29 January 2023.
      https://stock.adobe.com/au/images/fairytale-magic-wand-fantastic-isolated-icon-vector-illustration-design/296332948.
    </p>

    <p>
      Nick. n.d. ‘Hand of Mickey Mouse, Finger Hand of Mickey, Hand of Mickey
      Set in Colors Eps10 Stock Vector’. Adobe Stock. Accessed 6 February 2023.
      https://stock.adobe.com/au/images/hand-of-mickey-mouse-finger-hand-of-mickey-hand-of-mickey-set-in-colors-eps10/510039685.
    </p>
    <p>
      sudowoodo. n.d. ‘Cute Cartoon Berries Set Stock Vector’. Adobe Stock.
      Accessed 29 January 2023.
      https://stock.adobe.com/au/images/cute-cartoon-berries-set/330516138.
    </p>
    <p>
      Vector Tradition. n.d. ‘Circus Carnival Signs and Signboards. Stock
      Vector’. Adobe Stock. Accessed 10 February 2023.
      https://stock.adobe.com/au/images/circus-carnival-signs-and-signboards-fair-show-welcome-banners-vector-direction-pointers-circus-funfair-carnival-ticket-booth-poster-with-finger-arrow-signboard-to-lions-or-tigers-magic-show/525216337.
    </p>
  </div>
  <div class="404-ref">
    <h2>Assets used on the 404 page</h2>
    <p>
      CurvaBezier. n.d. ‘Cute Super Hero Ghost Flying with Cape Stock Vector’.
      Adobe Stock. Accessed 10 February 2023a.
      https://stock.adobe.com/au/images/cute-super-hero-ghost-flying-with-cape/95836960.
    </p>
    <p>
      CurvaBezier. n.d. ‘Strong Ghost Working out with Some Weights Stock
      Vector’. Adobe Stock. Accessed 10 February 2023b.
      https://stock.adobe.com/au/images/strong-ghost-working-out-with-some-weights/290861597.
    </p>
    <p>
      Oleksandra. n.d. ‘Castle Interior Cartoon Design Stock Vector’. Adobe
      Stock. Accessed 10 February 2023.
      https://stock.adobe.com/au/images/castle-dungeon-interior-seamless-background-stone-arch-wall-vector-game-medieval-night-corridor-ancient-scary-halloween-underground-prison-spiderweb-column-torch-castle-interior-cartoon-design/528757890.
    </p>
    <p>
      Vector Tradition. n.d. ‘Attic Interior’. AdobeStock. Accessed 10 February
      2023.
      https://stock.adobe.com/au/images/attic-interior-cartoon-loft-garret-and-cockloft-room-house-attic-or-mansard-room-with-window-wood-roof-and-floor-with-spider-web-dirty-cardboard-boxes-old-sofa-and-lamps/473446767.
    </p>
    <p>
      vectorpouch. n.d. ‘Circus Arena, Cartoon Vector Illustration Stock
      Vector’. Adobe Stock. Accessed 10 February 2023.
      https://stock.adobe.com/au/images/circus-arena-classic-round-stage-under-marquee-dome-with-seats-garlands-and-spotlights-empty-carnival-ring-tent-in-amusement-family-theme-park-entertainment-performance-cartoon-vector-illustration/309351907.
    </p>
  </div>
  <div class="quiz-ref">
    <h2>Assets used on the quiz page</h2>
    <p>
      anuwat. n.d. ‘Passenger Plane Flying in the Sky Side View. Travel Concept
      Stock Vector’. Adobe Stock. Accessed 20 February 2023a.
      https://stock.adobe.com/au/images/passenger-plane-flying-in-the-sky-side-view-travel-concept/518462985.
    </p>
    <p>
      anuwat. n.d. ‘Vector Cartoon Astronaut with a Spaceship. Stock Vector’.
      Adobe Stock. Accessed 20 February 2023b.
      https://stock.adobe.com/au/images/vector-cartoon-astronaut-with-a-spaceship-on-a-sparkling-starry-space-background/328302439.
    </p>
    <p>
      artinspiring. n.d. ‘Movie Making and Showbusiness Occupation Set. Stock
      Vector’. Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/movie-making-and-showbusiness-occupation-set-screenwriter-producer/456710065.
    </p>
    <p>
      blueringmedia. n.d. ‘Different Objects from the Circus Stock Vector’.
      Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/different-objects-from-the-circus/100639457.
    </p>
    <p>
      djvstock. n.d. ‘Hands Fortune Teller and Crystal Ball Stock Vector’. Adobe
      Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/hands-fortune-teller-and-crystal-ball/496147847.
    </p>
    <p>
      hanohiki. n.d. ‘World Illustration - Planet Earth Stock Vector’. Adobe
      Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/world-illustration-planet-earth-vector-graphic/123560753.
    </p>
    <p>
      Olesia_g. n.d. ‘Different Shape Cartoon White Clouds on Blue Background.
      Stock Vector’. Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/different-shape-cartoon-white-clouds-on-blue-background-vector-decoration-element/250197627.
    </p>
    <p>
      SpicyTruffel. n.d. ‘Flat Ships. Ocean Transportation Types. Stock Vector’.
      Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/flat-ships-sailing-yachts-marine-sailboats-and-motor-ships-ocean-transportation-types-vector-illustrations-catamaran-and-powerboat-boat-with-sail-tugboat-yacht-set-for-travel-and-work/305150651.
    </p>
    <p>
      TeraVector. n.d. ‘Modern or Classic Artist Drawings Exhibition in Art
      Museum. Stock Vector’. Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/modern-or-classic-artist-drawings-exhibition-in-art-museum-concept-man-and-women-looking-on-landscape-portrait-still-life-drawings-on-wall-people-visiting-museum-trendy-flat-vector-illustration/341892603.
    </p>
    <p>
      topvectors. n.d. ‘Museum Visitors Viewing Museum Exhibit Stock Vector’.
      Adobe Stock. Accessed 20 February 2023.
      https://stock.adobe.com/au/images/museum-visitors-looking-at-the-painting-hanging-on-gallery-wall-people-viewing-museum-exhibit/189626269.
    </p>
  </div>
  <div class="recipe-ref">
    <h2>Recipes and Nutrition Data</h2>
    <p>
      Australian Eggs. “The Health Benefits of Eggs.” Australian Eggs. 2022.
      https://www.australianeggs.org.au/nutrition/health-benefits
    </p>
    <p>
      Eats Amazing. “Easy Child-Friendly Guacamole Recipe.” Eats Amazing. 2018.
      https://www.eatsamazing.co.uk/family-friendly-recipes/side-dish-recipes/easy-child-friendly-guacamole-recipe
    </p>
    <p>
      Food Yourself. “Tofu 101: The Health Benefits of Tofu - and How to Cook
      It.” Food Yourself. 2019.
      https://www.foodyourself.com/blog/2019/1/15/tofu-101-the-health-benefits-of-tofu-and-how-to-cook-it
    </p>
    <p>
      Healthline. “11 Health and Nutrition Benefits of Cocoa Powder.”
      Healthline. 2022.
      https://www.healthline.com/nutrition/cocoa-powder-nutrition-benefits
    </p>
    <p>
      Healthline. “Watermelon 101: Nutrition Facts and Health Benefits.”
      Healthline. 2022. https://www.healthline.com/nutrition/foods/watermelon
    </p>
    <p>
      Kidspot. “Kale and Fetta Frittata.” Kidspot. 2022.
      https://www.kidspot.com.au/kitchen/recipes/chorizo-kale-feta-frittata-recipe/636utxxz
    </p>
    <p>
      Jenkinson, L. “Easy Keto Chocolate Waffles.” Ditch the Carbs. 2022.
      https://www.ditchthecarbs.com/keto-chocolate-waffles/
    </p>
    <p>
      Jenn. “Kiwi Watermelon Popsicles.” Princess Pinky Girl. 2021.
      https://princesspinkygirl.com/kiwi-watermelon-popsicles/
    </p>
    <p>
      My Kids Lick the Bowl. “Easy Tofu Tacos.” My Kids Lick the Bowl. 2021.
      https://mykidslickthebowl.com/tofu-tacos/
    </p>
    <p>
      Travers, C. “6 Health Benefits of Avocados.” Mgbfood. 2022.
      https://www.mindbodygreen.com/articles/avocado-benefits
    </p>
  </div>
</div>
<%- include('components/footer') %>
