<%- include('components/header') %> <%- include('components/loading') %>
<div class="page-content">
  <h1>References</h1>
  <p class="note">
    Note: References for code snippets that have been inspired/reproduced from
    other sources have been included as code comments above them.
  </p>
  <p class="note">
    Note: The following assets have been liscenced and have been edited and
    mixed to make a distinct set of assets for the VitaFun website.
  </p>
  <p></p>
</div>
<%- include('components/footer') %>
