<%- include('components/header', { header: true }) %>

<!-- VitaFresh page content wrapper -->
<div class="vitafresh-content">
    <img src="../img/vitafresh-logo.png" alt="VitaFresh Log">
</div>

<%- include('components/footer') %>