/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 400;
  background: var(--background-blue);
  cursor: url(../img/magic-ball.png), auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-family: var(--heading-font-family);
  font-size: 2em;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Links and Buttons */
a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--base-txt-color);
}

a:hover {
  color: var(--vita-yellow);
}

.primary-btn {
  font-family: var(--heading-font-family);
  padding: 15px 30px;
  border-radius: 10px;
  border: var(--vita-watermelon) solid 2px;
  margin: 20px 0;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index: 0;
  cursor: pointer;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--vita-watermelon),
    var(--vita-yellow),
    var(--vita-green),
    var(--vita-blue),
    var(--vita-purple),
    var(--vita-watermelon)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
}

.primary-btn:before {
  border-radius: 10px;
}

.btn:after {
  content: "";
  z-index: -1;
  top: 50px;
  right: -20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3a2ec0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.primary-btn:after {
  border-radius: 10px;
}

.primary-btn:hover {
  padding-right: 50px;
  padding-left: 10px;
}

.arrow {
  position: absolute;
  top: 5px;
  right: -30px;
  transition: 0.5s;
  font-size: 25px;
  visibility: hidden;
}

.arrow-box {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.show-arrow {
  right: 10px;
  visibility: visible;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Header styling */
.hangings {
  position: absolute;
  top: 0;
  left: 40px;
  width: 300px;
  height: auto;
  padding-top: 80px;
  z-index: 3;
}

nav {
  height: 80px;
  padding: 5px 150px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease;
  backdrop-filter: blur(10px);
  box-shadow: var(--base-box-shadow);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
}

nav:hover {
  transition: background-color 0.5s ease;
  background-color: #3a2ec0;
}

nav ul {
  display: flex;
  justify-content: right;
}

nav img {
  float: left;
  height: 66px;
  width: auto;
}

#menu li {
  padding: 0px 20px;
}

nav li a {
  font-family: var(--heading-font-family);
  line-height: 72px;
}

.active {
  color: var(--vita-watermelon);
}

/* Menu-icon styling */
#menu-icon {
  display: none;
  float: right;
  margin: 15px 0 0 0;
  position: relative;
  z-index: 1000;
}

#menu-icon div {
  background-color: var(--vita-yellow);
  width: 38px;
  height: 5px;
  border-radius: 30px;
  margin: 6px 0;
}

#menu-icon:hover {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  transition: 0.6s;
}

#menu-icon.expanded .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-icon.expanded .bar2 {
  opacity: 0;
}

#menu-icon.expanded .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*  Responsive - smaller (mobile/tablet) screens */
@media only screen and (max-width: 1025px) {
  nav {
    padding: 5px 50px;
  }

  nav li a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 780px) {
  #menu {
    display: none;
  }

  #menu-icon {
    display: block;
  }
}

/* Dropdown menu styling */
#dropdown-menu {
  display: flex;
  flex-direction: column;
  box-shadow: var(--base-box-shadow);
  padding: 20px;
  background-color: #3a2ec0;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 300px;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

#dropdown-menu li {
  text-align: center;
  border-bottom: solid 1px #6c60f5;
}

#dropdown-menu li:nth-child(6) {
  border-bottom: none;
}

#dropdown-menu li a {
  font-size: 1em;
  line-height: 50px;
}

#dropdown-menu.expanded {
  max-height: 500px;
  visibility: visible;
}

/*  Responsive - smaller (mobile/tablet) screens */
@media only screen and (max-width: 350px) {
  #dropdown-menu {
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

/*  Main content styling */
.page-content,
section {
  min-height: 100vh;
  padding-top: 100px;
}

/*  Responsive - smaller (mobile/tablet) screens */
@media only screen and (max-width: 750px) {
  .page-content {
    padding-top: 200px;
  }
}

/*  glowing circles styling */
.circle-gradient {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  transition: ease-in-out 0.5s;
}

.circle-gradient.purple {
  background: var(--vita-purple);
  box-shadow: 0 0 60px 30px var(--vita-purple),
    0 0 100px 60px var(--vita-purple), 0 0 140px 90px var(--background-blue);
}

.circle-gradient.green {
  background: var(--vita-green);
  box-shadow: 0 0 60px 30px var(--vita-green), 0 0 100px 60px var(--vita-green),
    0 0 140px 90px var(--background-blue);
}

.circle-gradient.yellow {
  background: var(--vita-yellow);
  box-shadow: 0 0 60px 30px var(--vita-yellow),
    0 0 100px 60px var(--vita-yellow), 0 0 140px 90px var(--background-blue);
}

.circle-gradient.watermelon {
  background: var(--vita-watermelon);
  box-shadow: 0 0 60px 30px var(--vita-watermelon),
    0 0 100px 60px var(--vita-watermelon), 0 0 140px 90px var(--background-blue);
}

.circle-gradient.blue {
  background: var(--vita-blue);
  box-shadow: 0 0 60px 30px var(--vita-blue), 0 0 100px 60px var(--vita-blue),
    0 0 140px 90px var(--background-blue);
}

/* Footer styling */
footer {
  text-align: center;
}

/* custom cursor styling */

/* sparkles styles */
#sparkles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  pointer-events: none;
}

/* sparkle animation */
.sparkle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/sparkle-yellow.png);
  animation: sparkle 1s ease-in-out forwards;
}

/* keyframes animation */
@keyframes sparkle {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
