/*  Character page styling */

/* *********************************** Grid container ************************************** */

#character-page.page-content {
  margin: auto;
  padding-top: 180px;
  display: grid;
  width: 90%;
  height: 100vh;
  grid-template-columns: 230px auto 230px;
}

#character-page h3 {
  color: var(--vita-watermelon);
}

/* *********************************** Grid items ******************************************* */
.character-content {
  height: 100%;
}

#character-page .character-img {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 55vh;
}

.superfood-data {
  margin-top: 50px;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.superfood-data img {
  height: 150px;
}

.recipe-link,
.superfoodcircus-link {
  padding: 30px 0;
  justify-self: end;
  align-self: end;
}

.recipe-link {
  text-align: left;
}

.superfoodcircus-link {
  text-align: right;
}

/* hotspots styling */
.hotspot {
  display: inline-block;
  position: absolute;
}

.hotspot:nth-of-type(1) {
  top: calc(55% - 25px);
  left: calc(55% - 25px);
}

.hotspot:nth-of-type(2) {
  top: calc(30% - 25px);
  left: calc(35% - 25px);
}

.hotspot:nth-of-type(3) {
  top: calc(23% - 25px);
  left: calc(60% - 25px);
}

.hotspot:nth-of-type(4) {
  top: calc(60% - 25px);
  left: calc(40% - 25px);
}

.star-filter {
  position: absolute;
}

.star {
  cursor: var(--pointer-cursor);
}

.benefit-dialog {
  max-width: 210px;
  height: fit-content;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #3a2ec0;
  box-shadow: var(--base-box-shadow);
  display: none;
}

.close-benefit-btn {
  color: var(--vita-yellow);
  text-decoration: underline;
  margin-top: 10px;
  cursor: var(--pointer-cursor);
}

.hide-star {
  display: none;
}

.show-benefit {
  display: block;
}

/* glowing stars styles inspired by and re-produced from: https://codepen.io/susan8098/pen/XOPvPR */
svg {
  width: 150px;
}

@keyframes glow {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

path {
  fill: var(--vita-yellow);
  opacity: 0.6;
  transition: all 0.2s;
}

.star2 {
  opacity: 0;
  filter: url(#glow);
  animation: glow 2s ease infinite;
}
