#fourOfour-page {
  background-image: url(../img/404-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
}

#fourOfour-page h1 {
  color: var(--vita-yellow);
}

.message-board {
  width: 450px;
  text-align: center;
  padding: 1em 2.5em;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 38%;
}

.message-board h1,
.message-board p {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000,
    0 0 40px #2518bd, 0 0 50px #2518bd, 0 0 60px #2518bd, 0 0 70px #2518bd;
}

/* animated spider styles inspired by and re-produced from: https://codepen.io/webcrafterscz/pen/EGYOxa  */
.spider {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 30%;
  animation: bounce 2s infinite;
}

.spider:first-of-type {
  left: 70%;
}

.spider .spiderweb {
  width: 2px;
  height: 200px;
  margin-left: 49px;
  background: rgba(255, 255, 255, 0.7);
  animation: slide 5s ease-out;
}

.spider:first-of-type .spiderweb {
  height: 600px;
  animation: slideLong 10s ease-out;
}

.spider .body {
  width: 100px;
  height: 80px;
  background: #222;
  position: relative;
  border-radius: 50%;
}

.spider .body .eye {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  background: #fff;
  border-radius: 50%;
}

.spider .body .eye.left {
  left: 20px;
}

.spider .body .eye.right {
  right: 20px;
}

.spider .body .eye:after {
  background: #222;
  width: 7px;
  height: 7px;
  content: "";
  display: block;
  margin: 55%;
  border-radius: 50%;
  animation: look 4s infinite;
}

.spider .legs .leg {
  width: 80px;
  height: 40px;
  margin-top: -20px;
  border: 5px solid transparent;
  border-top-color: #333;
  border-radius: 40px 40px 0 0;
}

.spider .legs {
  position: absolute;
  bottom: -7%;
  z-index: -1;
}

.spider:first-of-type .legs {
  bottom: -3%;
}

.spider .legs.left {
  left: -70%;
}
.spider .legs.right {
  right: -60%;
}

.legs.left .leg:nth-child(1) {
  transform: rotate(10deg);
  margin-left: 10px;
}
.legs.right .leg:nth-child(1) {
  transform: rotate(-10deg);
  margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
  transform: rotate(-20deg);
  margin-left: 20px;
}
.legs.right .leg:nth-child(2) {
  transform: rotate(20deg);
  margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
  transform: rotate(-50deg);
  margin-left: 30px;
}
.legs.right .leg:nth-child(3) {
  transform: rotate(50deg);
  margin-left: -30px;
}

@keyframes look {
  0%,
  40%,
  100% {
    transform: translateX(0);
  }

  45%,
  95% {
    transform: translateX(-110%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes slide {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}

@keyframes slideLong {
  0% {
    height: 0;
  }
  100% {
    height: 600px;
  }
}
