/*  Recipes page styling */

.grid-container {
    display: grid;
    grid-template-columns: 10% 20% auto 35%;
    grid-template-rows: repeat(5,auto);
    margin: 10px;
}

#recipe-1 h1{
    margin: auto;
    width: 50%;
    text-align: center;
    color: var(--vita-yellow);
} 

#recipe-1 .recipes1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Position text over background image */

/*
.recipes1 h2{
    position: absolute;
    color: var(--vita-green);
    padding-left: 40%;
    padding-top: 40px;
}
*/

.recipes1 ol{
    position: absolute;
    color: black;
    /*padding-left: 40%; */
    padding-left: 600px;
    padding-top: 50px;
}

.recipes1 ol li{
    width: 220px;
    /*
    text-align: center; */
}


.eggs{
    max-width: 25%;
    height: auto;
    /*height: 75px;
    width: auto; */
    grid-column: 4;
    grid-row: 1/5;
}

.tightrope-power{
    max-width: 80%;
    height: auto;
    /*
    height: 250px;
    width: auto; */
    grid-column: 4;
    grid-row: 5/5;
}

.frittata{
    max-width: 75%;
    height: auto;
    /*
    height: 150px;
    width: auto; */
    grid-column: 2;
    grid-row: 5/5;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 10% 20% auto 35%;
    grid-template-rows: repeat(5,auto);
    margin: 10px;
}

#recipe-2 h2{
    margin: auto;
    width: 50%;
    text-align: center;
    color: var(--vita-purple);

} 

.recipes {
    text-align: center;
}

.chocolate{
    max-width: 25%;
    height: auto;  
    /*height: 65px;
    width: auto; */
    grid-column: 4;
    grid-row: 1/5;
}

.cannonball-power{
    max-width: 80%;
    height: auto;
    /*
    height: 250px;
    width: auto; */
    grid-column: 4;
    grid-row: 5/5;
}

.waffle{
    max-width: 100%;
    height: auto;
    /* height: 130px;
    width: auto; */
    grid-column: 2;
    grid-row: 5/5;
}



/* Styling for html elements instead of backgroung images */



.recipe {
    text-align: center;
    position: relative;
    min-height: 90vh;
    padding-bottom: 50px;
}

.recipe h1 {
    text-transform: uppercase;
    font-family: var(--heading-font-family);
    font-size: 2.5em;
}

.recipe h2 {
    padding: 10px 0 30px 0;
    color: var(--vita-yellow);
}

.recipe h3 {
    color: var(--vita-purple);
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.post-it {
    position: absolute;
    min-height: 300px;
    width: 270px;
    background-color: var(--vita-yellow);
    left: 20vw;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.7);
    padding: 50px 10px 10px 10px;
    border-radius: 5px;
    transform: SkewX(2deg);
    transform-origin: top left;
}

.post-it h2 {
    color: black;
}

.post-it p {
    color: black;
}

.pin {
    width: 35px;
    position: absolute;
    left: 48%;
    top: 0;
}

.method-board {
    min-height: 70vh;
    width: 35vw;
    padding: 20px 80px;
    background-color: white;
    margin: auto;
    text-align: left;
}

.method-board p{
    color: black;
    font-family: var(--heading-font-family);
    font-size: 2em;
}

.superfood-img {
    position: absolute;
    height: 150px;
    right: 25%;
}

.character-img {
    position: absolute;
    height: 400px;
    top: 40%;
    right: 10%;
}

.recipe-img {
    position: absolute;
    height: 150px;
    bottom: 10%;
    left: 20%;
}




 

