/*  Recipes page and Superfood Circus page styling */
#recipes-page,
#superfood-circus-page {
  width: 90%;
  margin: 100px auto 0 auto;
}

#recipes-page p,
#superfood-circus-page p {
  margin-top: 5px;
}

.recipe-options,
.superfood-options {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.recipe-option,
.superfood-option {
  text-align: center;
  position: relative;
  width: 300px;
  aspect-ratio: 1/1;
}

.recipe-option .circle-gradient,
.superfood-option .circle-gradient {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.recipe-option .recipe-image,
.superfood-option .superfood-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.recipe-option img,
.superfood-option img {
  width: 294px;
}

@media only screen and (max-width: 1200px) {
  .recipe-option,
  .superfood-option {
    width: 200px;
  }

  .recipe-option .circle-gradient,
  .superfood-option .circle-gradient {
    width: 60px;
  }

  .recipe-option img,
  .superfood-option img {
    width: 194px;
  }

  .recipe-options,
  .superfood-options {
    gap: 50px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 880px) {
  .recipe-options,
  .superfood-options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  #recipes-page,
  #superfood-circus-page {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .recipe-options,
  .superfood-options {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
