/*  Single recipe page styling */
#single-recipe-page {
  padding-top: 0;
}

.recipe {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
}

.recipe h1,
.recipe h2,
.recipe h3 {
  text-align: center;
}

.recipe h1 {
  grid-column: 1/4;
  grid-row: 1;
}

.recipe h2 {
  padding: 10px 0 0 0;
  grid-column: 1/4;
  grid-row: 2;
}

.recipe h3 {
  color: var(--vita-purple);
  padding: 10px;
}

.step-count {
  font-weight: 800;
}

.step {
  cursor: var(--done-cursor);
}

.done {
  text-decoration: line-through;
}

#single-recipe-page .arrow-btn {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
  align-self: end;
  margin-left: 50px;
  text-align: right;
}

/* Post-it styles inspired by and re-produced from: https://codepen.io/jweden/pen/kGBBpM */
.post-it {
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
  width: 320px;
  height: min-content;
  position: relative;
  background: #ffa;
  overflow: hidden;
  margin: 70px 30px;
  padding: 40px 20px 40px 20px;
  border-radius: 0 0 0 30px/45px;
  box-shadow: inset 0 -40px 40px rgba(255, 231, 76, 0.4),
    inset 0 25px 10px rgba(255, 231, 76, 0.4), 0 5px 6px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(-5deg);
  color: black;
}

.post-it li {
  margin-bottom: 5px;
  font-size: 1.1em;
}

.post-it:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffa;
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.3),
    inset 15px -15px 15px rgba(255, 231, 76, 0.6);
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: skewX(20deg);
}

.done {
  text-decoration: line-through;
}

.pin {
  width: 35px;
  position: absolute;
  left: 48%;
  top: 0;
}

#single-recipe-page .superfood-img {
  position: absolute;
  width: 200px;
  right: -80px;
  top: -80px;
  z-index: 3;
}

#single-recipe-page .character-img {
  grid-column: 3;
  grid-row: 3;
  height: 400px;
  align-self: end;
  justify-self: start;
}

#single-recipe-page .recipe-img {
  position: absolute;
  width: 300px;
  bottom: 0;
  left: -200px;
  z-index: 4;
}

/* Notebook paper styles inspired by and re-produced from: https://codepen.io/designcouch/pen/bGvzKE */
.notebook-paper {
  width: 650px;
  min-height: fit-content;
  background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
  margin: 50px auto 0 auto;
  background-size: 100% 30px;
  position: relative;
  padding: 120px 30px 0 120px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.notebook-paper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100px;
  height: 100%;
  width: 1px;
  background: #db4034;
}

.notebook-paper .heading {
  height: 88px;
  width: 100%;
  background: white;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.notebook-paper h3 {
  padding-top: 60px;
}

.notebook-paper .content {
  font-size: 1.2em;
  line-height: 30px;
  color: black;
}

.notebook-paper .content p {
  margin: 0 0 30px 0;
}

/*  Responsive */
@media only screen and (max-width: 1600px) {
  .notebook-paper {
    width: 550px;
  }

  #single-recipe-page .superfood-img {
    width: 150px;
    top: -50px;
  }

  #single-recipe-page .character-img {
    height: 300px;
  }

  #single-recipe-page .recipe-img {
    width: 200px;
    left: -120px;
  }
}

@media only screen and (max-width: 1320px) {
  .notebook-paper .content {
    font-size: 1.1em;
  }
  .post-it li {
    margin-bottom: 5px;
    font-size: 1em;
  }

  .recipe h3 {
    font-size: 1.2em;
  }

  .post-it {
    width: 260px;
  }

  .notebook-paper {
    padding-left: 90px;
  }

  .notebook-paper::before {
    left: 80px;
  }

  #single-recipe-page .arrow-btn img {
    width: 180px;
  }

  #single-recipe-page .arrow-btn p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1250px) {
  .recipe {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, auto);
    padding-top: 200px;
  }

  #single-recipe-page .arrow-btn {
    grid-column: 1/3;
    grid-row: 1;
    margin: 30px;
  }

  .recipe h1 {
    grid-column: 1/3;
    grid-row: 2;
  }

  .recipe h2 {
    grid-column: 1/3;
    grid-row: 3;
  }

  .post-it {
    margin-bottom: 0;
    grid-row: 4;
  }

  #single-recipe-page .character-img {
    grid-column: 2;
    grid-row: 4;
  }

  .notebook-paper {
    grid-column: 1/3;
    grid-row: 5;
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  #single-recipe-page .superfood-img {
    right: 0;
    top: 0;
  }

  .notebook-paper {
    width: 90%;
    padding: 120px 30px 120px 30px;
  }

  .notebook-paper::before {
    display: none;
  }

  #single-recipe-page .recipe-img {
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .recipe {
    grid-template-columns: 1fr;
  }

  .recipe h1 {
    grid-column: 1;
    margin: 0 20px;
  }

  .recipe h2 {
    grid-column: 1;
    margin: 0 20px;
  }

  .recipe h3 {
    text-align: left;
  }

  .notebook-paper h3 {
    padding-left: 30px;
  }

  .post-it {
    width: 90%;
    transform: rotate(0);
    justify-self: center;
  }

  .notebook-paper {
    grid-column: 1;
    grid-row: 5;
  }

  #single-recipe-page .character-img {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .recipe {
    padding-top: 150px;
  }
}
