/* Vars */

:root {
  /* base */
  --base-txt-color: rgb(255, 255, 255);
  --base-font-family: "Mulish", sans-serif;
  --base-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  /* headings */
  --heading-font-family: "Bubblegum Sans", cursive;

  /* colours */
  --background-blue: #2518bd;
  --vita-watermelon: #ff5964;
  --vita-yellow: #ffe74c;
  --vita-blue: #35a7ff;
  --vita-purple: #974ee8;
  --vita-green: #6bf178;

  /* custom cursors */
  --default-cursor: url(../img/cursor-wand.png), auto;
  --pointer-cursor: url(../img/pointing-hand.png), pointer;
  --done-cursor: url(../img/done-icon.png), pointer;
}
