.vitafresh-page {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
  cursor: auto;
}

.vitafresh-content {
  margin: 0 auto;
  width: 70%;
  padding: 10% 0;
}

.vitafresh-content img {
  width: 207px;
}

.vitafresh-content p {
  color: #000;
  padding-top: 30px;
}

.vitafresh-content a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
